/* Food.css */

.breakfast-section {
    padding: 20px;
    text-align: left;
    top:0;
    margin-top: 100px;
  }
  
  .breakfast-section-title {
    /* font-weight: bold; */
    /* margin-left: 30px; */
    font-size: 24px;
    margin-bottom: 20px;
    /* background-color: rgba(204, 205, 203, 0.313); */
    padding: 5px;
    border-radius: 12px;
  }
  
 
  
.BreakfastSectionImg{
  display: flex;
  /* justify-content: space-around; */
  gap:25px;
  /* border: 1px solid blueviolet; */
  flex-wrap: wrap;

}
.BreakfastImgContainer{
  border: 2px solid rgba(187, 185, 185, 0.312);
  border-radius: 16px;


}
.BreakfastSectionImgSize{
  height: 35vh;
  width:22vw;
  padding: 5px;
  /* border-radius: 50%; */
}
.RecipeName{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-top:1px;
  

}
