.HomeContainer{
    /* margin-top: 80px  ; */
    top:0;  
    width: 100%;
    margin-bottom: 50px;
    /* border: 1px solid red; */
 
    
}


.topRecipeTitle{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 23px;

   
}

/*
.TopRecipeContainer{
    justify-content: space-around;
    display: flex;
    gap:20px;
  
    flex-wrap: wrap;
 
}

.TopRecipeImg{
    height: 20vh;
   
    border-radius: 50%;
    width: 10vw;
    background-color: rgba(199, 200, 198, 0.322);
    padding:5px;
   
}

.TopRecipeImgHover{
 
    text-align: center;
    cursor: pointer;
}

.TopRecipeImgHover:hover{
    opacity: 1;
    background-color: rgb(255, 249, 249);
    border-radius: 10%;
} */





.BreakfastSection{
    /* border:1px solid blue; */
    margin-top: 30px;   
}

.BreakfastSectionTitleBox{
    text-align: center;

    margin-bottom: 10px;
    padding: 5px;
    border-radius:9px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.BreakfastSectionTitle{
    font-size: 23px;
}

.SeeMore{
    font-size: 16px;
    color: rgb(57, 118, 222);
}

.BreakfastSectionImg{
    display: flex;
    gap:25px;
    flex-wrap: wrap;

}
.BreakfastImgContainer{
    border: 2px solid rgba(187, 185, 185, 0.312);
    border-radius: 16px;


}
.BreakfastSectionImgSize{
    height: 35vh;
    width:22vw;
    padding: 5px;
}
.RecipeName{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top:1px;
    

}